@page "/particular-campaign-influencer"

<MudGrid>
    <MudItem xl="3" lg="4" md="5" sm="6" xs="12">
        <MudImage Src="https://picsum.photos/300/" Width="300" Height="300" Alt="Random Image" Elevation="25" Class="rounded-lg ma-4" />
        <MudText Typo="Typo.h4">Tech gadget review</MudText>
        <div class="d-flex flex-row align-center gap-3">
            <MudImage Src="https://picsum.photos/50/" Width="50" Height="50" Alt="Random Image" Elevation="25" Class="rounded-circle ma-4" />
            <MudText Typo="Typo.h6" Inline="true">NextGen</MudText>
        </div>
        <MudStack>
            <MudText>Application Status: <MudChip T="string" Icon="@Icons.Material.Filled.Pending" Color="Color.Warning">Pending</MudChip></MudText>
            <MudText>Deadline: <MudChip T="string" Icon="@Icons.Material.Filled.DateRange" Color="Color.Info">October 15, 2024</MudChip></MudText>
            <MudText>Type: <MudChip T="string" Icon="@Icons.Material.Filled.Campaign" Style=@($"color: white; background-color: {Colors.Purple.Lighten1};")>Unboxing</MudChip></MudText>
            <MudText>No. Creators Wanted: <MudChip T="string" Icon="@Icons.Material.Filled.Person" Color="Color.Tertiary">4/25</MudChip></MudText>
        </MudStack>
    </MudItem>

   
<MudItem xl="9" lg="8" md="7" sm="6" xs="12">

<MudText Typo="Typo.h6" Class="mt-2">Campanie de vizualizat</MudText>
<MudText Typo="Typo.body1" Class="mt-4">
    O campanie de publicitate este o serie de acțiuni și strategii coordonate menite să promoveze un produs, serviciu sau brand către un public țintă.
    Scopul principal este creșterea vizibilității și atragerea de noi clienți prin utilizarea diverselor canale de marketing, precum TV, online, social media și print.
</MudText>

<MudText Typo="Typo.h5" Class="mt-2">Cerinte</MudText>

<MudExpansionPanels MultiExpansion="true" Class="mt-2">
    <MudExpansionPanel Text="3 Shorturi Instagram">
        Fiecare short trebuie să conțină imagini cu produsul, informații interesante și să fie cât mai dinamice.
    </MudExpansionPanel>
    <MudExpansionPanel Text="10 Postari Instagram">
        Fiecare postare trebuie să aibă o descriere de 10 rânduri. Imaginea postării trebuie să aibă un peisaj natural sau urban în spate.
    </MudExpansionPanel>
    <MudExpansionPanel Text="10 Tick Tockuri">
        Fiecare Tick Tock trebuie să aibă o piesă bine aleasă, cât și foarte multă dinamică, 2 dintre ele pot fi fără cuvinte.
    </MudExpansionPanel>
    <MudExpansionPanel Text="3 Postari pe Facebook">
        Fiecare postare trebuie să aibă descriere. Trebuie să semene cu cele de pe Instagram.
    </MudExpansionPanel>
</MudExpansionPanels>
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h5" Class="mt-2">Buget</MudText>
            </MudItem>


            <MudItem xs="12">
                <MudFab StartIcon="@Icons.Material.Filled.AttachMoney" Label="10k" />
            </MudItem>
        </MudGrid>

    </MudItem>
</MudGrid>


<style>
    .full-width-image {
        width: 100%;
        height: auto;
    }

    .image-container {
        position: relative;
    }

    .overlay-content {
        position: absolute;
        top: 20px; /* Poziționează textul și imaginea în partea de sus a imaginii */
        left: 20px; /* Poziționează la 20px de la marginea stângă */
        color: purple; /* Culoare mov pentru text */
    }

    .company-name {
        color: purple; /* Culoare mov pentru numele firmei */
    }
</style>

@code {

}
