@page "/particular-campaign"
@using System.Net.Http.Json

@inject HttpClient httpClient

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
	<MudTabPanel Text="Overview">
		<MudText>Content that should appear in an overview page.</MudText>
	</MudTabPanel>

	<MudTabPanel Text="Influencers">
		<MudDataGrid Items="@employees" Filterable="true" QuickFilter="_quickFilter" SortMode="@SortMode.None" Groupable="false">
			<ToolBarContent>
				<MudText Typo="Typo.h6">Periodic Elements</MudText>
				<MudSpacer />
				<MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
							  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
			</ToolBarContent>
			<Columns>
				<TemplateColumn Title="Name">
					<CellTemplate>
						<div class="d-flex flex-row align-center">
							<MudImage Src="@context.Item.AvatarURL" Width="50" Height="50" Alt="Employee Image" Class="rounded-circle me-2" />
							<MudText>@context.Item.Name</MudText>
						</div>
					</CellTemplate>
				</TemplateColumn>

				<PropertyColumn Property="x => x.MonthsEmployed" Title="Followers" />
				<PropertyColumn Property="x => x.Salary" Format="Price" />
				<PropertyColumn Property="x => x.Status" Title="Status" />
				<PropertyColumn Property="x => x.Salary" Format="Location" />

				<TemplateColumn Title="Rating">
					<CellTemplate>
						<MudRating Size="@Size.Small" SelectedValue="@context.Item.Rating" />
					</CellTemplate>
				</TemplateColumn>

				<TemplateColumn>
					<CellTemplate>
						<MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Medium" />
					</CellTemplate>
				</TemplateColumn>
			</Columns>
			<PagerContent>
				<MudDataGridPager T="Employee" />
			</PagerContent>
		</MudDataGrid>
		
	</MudTabPanel>
	<MudTabPanel Text="Insights">
		<MudText>Here we should have insights about the campian like reach, engagement, views, likes, conversions, comments, shares</MudText>
		<MudGrid>
		<MudItem xs="5">
				<MudCard>
					<MudText > </MudText>
				</MudCard>
		</MudItem>

		</MudGrid>
	
	</MudTabPanel>
</MudTabs>

@code {
	private string _searchString;
	

	public record Employee(string Name, string AvatarURL, string Advertise_name, int MonthsEmployed, int Salary, string Status, int Rating);

	public IEnumerable<Employee> employees;

	protected override void OnInitialized()
	{
		employees = new List<Employee>
		{
			new Employee("Sam", "https://picsum.photos/200", "CPA", 276, 87_000, "Active", 4),
			new Employee("Alicia","https://picsum.photos/200", "Product Manager", 132, 143_000, "On Leave", 5),
			new Employee("Ira", "https://picsum.photos/200", "Developer", 48, 92_000, "Active", 3),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
			new Employee("John","https://picsum.photos/200", "IT Director", 204, 229_000, "Retired", 4),
		};
	}

	private Func<Employee, bool> _quickFilter => x =>
	{
		if (string.IsNullOrWhiteSpace(_searchString))
			return true;

		if (x.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
			return true;

		return false;
	};

}
